body{
    font-family: sans-serif;
    background-image: url('imagens/wallpaper.jpg');
    background-size: 100%;
}

.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    min-height: 400px;
    width: 300px;
    background-color: white;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginTitulo{
    margin-bottom: 32px;
    color: rgb(39, 37, 37);
}

.loginForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginInput{
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.loginBorder{
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: rgb(228, 228, 228);
    transition: .3s ease-in-out;
}

.loginBorder::after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: rgb(58, 42, 148);
    transition: .3s ease-in-out;
}

.loginInput:focus + .loginBorder::after{
    width: 100%;
}

.loginSubmit{
    height: 48px;
    width: 100%;
    outline: none;
    background: rgb(58, 42, 148);
    background-size: 200%;
    margin-bottom: 32px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease;
}

.loginSubmit:hover{
    background-position: right;
}

.resetSenha{
    font-size: 16px;
    color: rgb(58, 42, 148);
    text-decoration: none;
}
